a {
  text-decoration: underline;
  color: #1C94C4;
}

.vacation_item_edit, .vacation_item_destroy {
  float: right;
  margin-right: 10px;
}


#vacations_list_view .editing .display, #vacations_list_view .edit {
    display: none;
}
#vacations_list_view .editing .edit {
    display: block;
}