<!DOCTYPE html>
<html>
  <head>
  <title>RW Product Manager</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;" />
	<meta charset="utf-8">
	<!-- iPad/iPhone specific css below, add after your main css >
	<link rel="stylesheet" media="only screen and (max-device-width: 1024px)" href="ipad.css" type="text/css" />		
	<link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="iphone.css" type="text/css" />		
	-->
  <link rel="stylesheet" href="../stylesheets/vendors/jqtouch.css" />
  <link rel="stylesheet" href="../stylesheets/vendors/theme.css" />
  <link rel="stylesheet" href="../stylesheets/main.css" />
  <script type="text/javascript" charset="utf-8" src="../javascripts/vendors/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="../javascripts/vendors/jqtouch.js"></script>
  <script type="text/javascript" charset="utf-8" src="../javascripts/vendors/json2.js"></script>
  <script type="text/javascript" charset="utf-8" src="../javascripts/vendors/underscore.js"></script>
  <script type="text/javascript" charset="utf-8" src="../javascripts/vendors/backbone.js"></script>
	<script type="text/javascript" charset="utf-8" src="../javascripts/android/phonegap-1.2.0.js"></script>
	<script type="text/javascript" charset="utf-8" src="../javascripts/android/childbrowser.js"></script>
  <script type="text/javascript" charset="utf-8" src="../javascripts/main.js"></script>
  <script type="text/javascript" charset="utf-8" src="../javascripts/vacations.js"></script>
<!--
  <script type="text/javascript">


	// If you want to prevent dragging, uncomment this section
	function preventBehavior(e) 
	{ 
      e.preventDefault(); 
    };
	//document.addEventListener("touchmove", preventBehavior, false);	
	
	/* If you are supporting your own protocol, the var invokeString will contain any arguments to the app launch.
	see http://iphonedevelopertips.com/cocoa/launching-your-own-application-via-a-custom-url-scheme.html
	for more details -jm */
	/*
	function handleOpenURL(url)
	{
		// TODO: do something with the url passed in.
	}
	*/
	
	function onBodyLoad()
	{		
		document.addEventListener("deviceready", onDeviceReady, false);
	}
	
	/* When this function is called, PhoneGap has been initialized and is ready to roll */
	/* If you are supporting your own protocol, the var invokeString will contain any arguments to the app launch.
	see http://iphonedevelopertips.com/cocoa/launching-your-own-application-via-a-custom-url-scheme.html
	for more details -jm */
	function onDeviceReady()
	{
		// do your thing!
		//navigator.notification.alert("PhoneGap is working")
	}
    
    </script>
-->
  </head>
  <body>
  <div id="jqt">
    
    <div id="about" class="selectable">
      <p><strong>RW Manager</strong><br />Version 1.0<br />
      <a href="http://leopard.in.ua">By Alexey Vasiliev</a></p>
      <p><br /><br /><a href="#" class="grayButton goback">Close</a></p>
    </div>
    
    <div id="home" class="current">
      <div class="toolbar">
        <h1>RW Manager</h1>
        <a class="button slideup" id="infoButton" href="#about">About</a>
      </div>
      <ul class="rounded">
        <li class="arrow"><a href="#vacations">Vacations</a></li>
        <li class="arrow"><a href="#settings">Settings</a></li>
      </ul>
      <div class="info">
        <p>If something work wrong - write me on <a href="mailto:alexey.vasiliev@railsware.com">email</a>. Version 1.0.1</p>
      </div>
    </div>
    
    <!-- vacations -->
    <div id="vacations">
      <div class="toolbar">
        <h1>Vacations</h1>
        <a class="back" href="#">Home</a>
        <a class="add slideup" id="add_vacation_button" href="#add_vacation">+</a>
      </div>

      <h2>Vacations</h2>
      <div id="vacations_box">
        <ul id="vacations_list" class="rounded">
        </ul>
      </div>
    </div>
    
    <script type="text/template" id="vacation-template">
      <a href="#vacation" rel="<%= id %>"><%= from_date %> - <%= to_date %></a>
    </script>
    
    <div id="vacation">
      <div class="toolbar">
        <h1>Vacation</h1>
        <a class="back" href="#">Back</a>
      </div>

      <form>
        <input type="hidden" id="vacation_id" value="" />
        <ul class="edit rounded">
            <li>
              <input type="text" name="description" placeholder="Description" id="vacation_description" />
            </li>
        </ul>
      </form>
    </div>
    
    <div id="add_vacation">
      <div class="toolbar">
        <h1>Add Vacation</h1>
        <a href="#"></a>
        <a class="cancel" href="#">Cancel</a>
        <a class="button" id="add_vacation_submit" href="#">Add</a>
      </div>

      <form id="add_vacation_form">
        <ul class="edit rounded">
          <li>
            <select id="add_vacation__reason" name="add_vacation_reason">
              <option value="vacation">vacation</option>
              <option value="illness">illness</option>
            </select>
          </li>
          <li>
            <input type="text" name="description" placeholder="Description" id="add_vacation_description" />
          </li>
          <li>
            <input type="date" name="from_date" placeholder="From date" id="add_vacation_from_date" />
          </li>
          <li>
            <input type="date" name="to_date" placeholder="To date" id="add_vacation_to_date" />
          </li>
        </ul>
      </form>
    </div>
    
    
   <!-- Settings -->
   <div id="settings">
      <div class="toolbar">
        <h1>Settings</h1>
        <a class="back" href="#">Home</a>
      </div>
      <h2>Authorization</h2>
      <ul class="rounded">
        <li class="forward"><a id="login_button_settings" href="#">Login to system</a></li>
      </ul>
    </div>
    
  </div>  
  </body>
</html>